@charset "utf-8";

body {
	background-color: antiquewhite;
	display: flex;
	margin: 1% 10%;
}

#title {
	font-size: 30px;
}

summary.iframe-noborder{
	font-size: 17px;
	color: chocolate;
}

a.iframe-noborder-docs {
	color: inherit;
	content: none !important;
	text-decoration: none;
}
