// 设置输出样式为紧凑型（compressed）
$output-style: compressed;

// 设置输出时不要添加额外的换行符和空格
$linefeed: "";
$sass-precision: 10;

// 设置输出时不要添加任何缩进
$indent-width: 0;
$indent-type: space;

iframe.noborder {
  border: none;

  @for $k from 1 through 100 {
    &-h#{$k} {
      height: $k * 1% !important;
      border: none;
    }

    @for $i from 1 through 100 {
      &-w#{$i} {
        width: $i * 1% !important;
        border: none;
      }

      &-w#{$i}h#{$k} {
        width: $i * 1% !important;
        height: $k * 1vh !important;
        border: none;
      }

      &-h#{$k}w#{$i} {
        width: $i * 1% !important;
        height: $k * 1vh !important;
        border: none;
      }

      &-wh#{$k} {
        width: $k * 1% !important;
        height: $k * 1vh !important;
        border: none;
      }
    }
  }
}
